@font-face {
    font-family: "Geo-Sans-Light";
    src: url("../fonts/geo-sans-light/GeosansLight.ttf");
    font-weight: 300;
}
@font-face {
    font-family: Helvetica;
    src: url("../fonts/helvetica-font-family/Helvetica 400.ttf");
    font-weight: 400;
}
@font-face {
    font-family: Oswald;
    src: url(   "../fonts/oswald/Oswald-Medium.ttf");
    font-weight: 400;
}